<div class="modal">
  <div class="little">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text" placeholder="Search" autocomplete="off">
  </div>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="selectDevice">
      <mat-header-cell *matHeaderCellDef><input #checkAll type="checkbox" (change)="selectAll(checkAll.checked)">
      </mat-header-cell>
      <mat-cell *matCellDef="let row"><input #check type="checkbox" (change)="select(row.deviceId, check.checked)">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deviceDisplayName">
      <mat-header-cell class="activated" *matHeaderCellDef (click)="sort('deviceName')">Device name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.deviceName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  <div *ngIf="dataSource.page$ | async as page">
    <div *ngIf="isRealmSelected && !loading && !page.totalElements && !paramRequest.freeText"><p>This organisation doesn't have devices</p></div>
    <div *ngIf="isRealmSelected && !loading && !page.totalElements && paramRequest.freeText"><p>Device with current search params doesn't exist</p></div>
    <mat-paginator #paginator
                   [pageSize]="paramRequest.pageSize"
                   [pageSizeOptions]="[1, 5, 10, 20]"
                   [length]="page.totalElements"
                   [pageIndex]="page.number"
                   (page)="getServerData($event)"
                   [showFirstLastButtons]="true">>
    </mat-paginator>
  </div>
  <mat-dialog-actions class="footer-block">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button [disabled]="!selectedIds.length" class="mat-raised-button mat-primary" (click)="submit()">Assign</button>
  </mat-dialog-actions>
</div>

