<div class="modal">
  <div class="spinner-container spinner-center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div [ngClass]="{hide: loading}">
    <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="groupId">
        <mat-header-cell *matHeaderCellDef><input #checkAll type="checkbox" (change)="selectAll(checkAll.checked)">
        </mat-header-cell>
        <mat-cell *matCellDef="let row"><input #check type="checkbox" (change)="select(row.groupId, check.checked)">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groups">
        <mat-header-cell class="activated" *matHeaderCellDef>Group Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <div *ngIf="dataSource.page$ | async as response">
      <div *ngIf="!loading && response.page.totalElements<1"><p>This organisation doesn't have groups</p></div>
      <mat-paginator #paginator
                     [pageSize]="paramRequest.pageSize"
                     [pageSizeOptions]="[1, 5, 10, 20]"
                     [length]="response.page.totalElements"
                     [pageIndex]="response.page.number"
                     (page)="getServerData($event)"
                     [showFirstLastButtons]="true">>
      </mat-paginator>
    </div>

    <mat-dialog-actions class="footer-block">
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button [disabled]="selectedIds.length<1" class="mat-raised-button mat-primary" (click)="submit()">Assign</button>
    </mat-dialog-actions>
  </div>
</div>
