<div class="spinner-container spinner-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<!--  Use hide instead of *ngIf because element will not be load after subscription switch-->
<div [ngClass]="{'hide': loading || !isRealmSelected}">
  <div class="little">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text" placeholder="Search"
           autocomplete="off">
  </div>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="{{displayedColumns[0].param}}">
      <mat-header-cell *matHeaderCellDef><input #checkAll type="checkbox" (change)="selectAll(checkAll.checked)">
      </mat-header-cell>
      <mat-cell *matCellDef="let row"><input #check id='{{ row[displayedColumns[0].param] }}' type="checkbox"
                                             (change)="select(row[displayedColumns[0].param], check.checked)">
      </mat-cell>
    </ng-container>

    <div *ngFor="let col of displayedColumns; let i=index">
      <ng-container matColumnDef="{{ col.name }}" *ngIf="i != 0">
        <mat-header-cell class="activated" *matHeaderCellDef>{{ col.name }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="isArray(row[col.param]);else str">
            <div *ngFor="let element of row[col.param]">
              <div>{{ getInnerData(element) }}</div>
            </div>
          </div>
          <ng-template #str>{{ isArray(col.param) ? row[col.param[0]][col.param[1]] : row[col.param] }} </ng-template></mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef=displayedHeaders></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedHeaders"></mat-row>

  </mat-table>

  <div *ngIf="dataSource.page$ | async as response">
    <div *ngIf="isRealmSelected && !loading && !response.page.totalElements && !paramRequest.freeText">
      <p>{{emptyListMessage}}</p></div>
    <div *ngIf="isRealmSelected && !loading && !response.page.totalElements && paramRequest.freeText">
      <p>{{emptySearchResponseMessage}}</p></div>
    <mat-paginator #paginator
                   [pageSize]="paramRequest.pageSize"
                   [pageSizeOptions]="[1, 5, 10, 20]"
                   [length]="response.page.totalElements"
                   [pageIndex]="response.page.number"
                   (page)="getServerData($event)"
                   [showFirstLastButtons]="true">>
    </mat-paginator>
  </div>
</div>
