<app-realm-selection [pageName]="pageName"></app-realm-selection>
<div class="spinner-container spinner-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div [ngClass]="{'hide': loading || !isRealmSelected}">
  <div class="grid-container">
    <mat-grid-list cols="{{ ( cards | async )?.columns }}" rowHeight="200px">
      <mat-grid-tile *ngFor="let el of chartContainer" [colspan]="( cards | async )?.chart.cols"
                     [rowspan]="( cards | async )?.chart.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{el.title}} stat
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="el.total;else noEl">
              <app-chart [labelsInput]="el.labels" [chartDataInput]="el.chartData"
                         [chartTypeInput]="el.chartType"></app-chart>
              <div class="total-block">
                <div *ngIf="el.chartType !== 'bar'">
                  <div class="total-el" *ngFor="let elem of el.labels; let i = index">
                    {{elem}}: {{getPercent(el.chartData[0].data, el.chartData[0].data[i])}}%
                  </div>
                </div>
                <div *ngIf="el.total" class="total-el">{{getTotal(el.title, el.total, el.dataType)}}</div>
              </div>
            </div>
            <ng-template #noEl>No data found</ng-template>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
