/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  position: relative;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-danger {
  background-color: #f80250;
  color: #211b19;
  font-weight: bold;
}
.alert-success {
  background-color: #7ed777;
  color: #211b19;
  font-weight: bold;
}
