/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  position: relative;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-danger {
  background-color: #f80250;
  color: #211b19;
  font-weight: bold;
}
.alert-success {
  background-color: #7ed777;
  color: #211b19;
  font-weight: bold;
}
.hide{
  visibility: hidden;
}

.spinner-center{
  position: absolute;
  left: 50%;
  top: 200px;
}

.little {
  display: flex;
  justify-content: flex-end;
  margin-right: 1px;
  height: 40px;
  /*width: 70px;*/
}

