<div class="spinner-container spinner-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<!--  Use hide instead of *ngIf because element will not be load after subscription switch-->
<div [ngClass]="{'hide': loading || !isRealmSelected}">
  <div class="little">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text" placeholder="Search"
           autocomplete="off">
  </div>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="{{displayedColumns[0]}}">
      <mat-header-cell *matHeaderCellDef><input #checkAll type="checkbox" (change)="selectAll(checkAll.checked)">
      </mat-header-cell>
      <mat-cell *matCellDef="let row"><input #check id='{{ row[displayedColumns[0]] }}' type="checkbox"
                                             (change)="select(row[displayedColumns[0]], check.checked)">
      </mat-cell>
    </ng-container>

    <div *ngFor="let prop of displayedColumns; let i=index">
      <ng-container matColumnDef="{{ prop }}" *ngIf="i != 0">
        <mat-header-cell class="activated" *matHeaderCellDef>{{ prop.toUpperCase() }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <table *ngIf="isArray(row[prop]);else str">
            <tr *ngFor="let element of row[prop]">
              <td>{{ getInnerData(element) }}</td>
            </tr>
          </table>
          <ng-template #str>{{ row[prop] }} </ng-template></mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <div *ngIf="dataSource.page$ | async as response">
    <div *ngIf="isRealmSelected && !loading && !response.page.totalElements && !paramRequest.freeText">
      <p>{{emptyListMessage}}</p></div>
    <div *ngIf="isRealmSelected && !loading && !response.page.totalElements && paramRequest.freeText">
      <p>{{emptySearchResponseMessage}}</p></div>
    <mat-paginator #paginator
                   [pageSize]="paramRequest.pageSize"
                   [pageSizeOptions]="[1, 5, 10, 20]"
                   [length]="response.page.totalElements"
                   [pageIndex]="response.page.number"
                   (page)="getServerData($event)"
                   [showFirstLastButtons]="true">>
    </mat-paginator>
  </div>
</div>
